quickstarts/IntentDetection/OpenAILogicApp/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "ApplicationName": {
            "defaultValue": "OpenAILogicApp",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('ApplicationName')]",
            "location": "eastus2",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "prompt": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {"Condition": {
                        "actions": {
                            "AzureOpenAIResponse": {
                                "runAfter": {
                                    "For_each_AzureOAO": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Response",
                                "kind": "Http",
                                "inputs": {
                                    "body": {
                                        "department": "@{variables('Department')}",
                                        "orderIntent": "@{variables('OrderIntent')}",
                                        "source": "Azure OpenAI"
                                    },
                                    "statusCode": 200
                                }
                            },
                            "AzureOpenAIRest": {
                                "runAfter": {},
                                "type": "Http",
                                "inputs": {
                                    "body": {
                                        "prompt": "@{variables('Behavior')}@{triggerBody()?['prompt']}"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json",
                                        "api-key": "@variables('AzureOpenAIKey')"
                                    },
                                    "method": "POST",
                                    "uri": "https://@{variables('AzureOpenAIURL')}/openai/deployments/@{variables('AzureOpenAIDeployment')}/completions?api-version=2023-03-15-preview"
                                }
                            },
                            "For_each_AzureOAO": {
                                "foreach": "@variables('GptResponse')",
                                "actions": {
                                    "Condition_AzureOAIDepartment": {
                                        "actions": {
                                            "Set_AzureOAIDepartment": {
                                                "runAfter": {},
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "Department",
                                                    "value": "@{trim(replace(items('For_each_AzureOAO'), 'Department:', ' '))}"
                                                }
                                            }
                                        },
                                        "runAfter": {},
                                        "expression": {
                                            "and": [
                                                {
                                                    "contains": [
                                                        "@items('For_each_AzureOAO')",
                                                        "Department"
                                                    ]
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    },
                                    "Condition_AzureOAIOrderIntent": {
                                        "actions": {
                                            "Set_AzureOAIOrderIntent": {
                                                "runAfter": {},
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "OrderIntent",
                                                    "value": "@{trim(replace(items('For_each_AzureOAO'), 'Order Intent:', ' '))}"
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Condition_AzureOAIDepartment": [
                                                "Succeeded"
                                            ]
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "contains": [
                                                        "@items('For_each_AzureOAO')",
                                                        "Order Intent"
                                                    ]
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    }
                                },
                                "runAfter": {
                                    "Set_AzureOpenAIGptResponse": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Foreach"
                            },
                            "ParseAzureOpenAI": {
                                "runAfter": {
                                    "AzureOpenAIRest": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('AzureOpenAIRest')",
                                    "schema": {
                                        "properties": {
                                            "choices": {
                                                "items": {
                                                    "properties": {
                                                        "finish_reason": {
                                                            "type": "string"
                                                        },
                                                        "index": {
                                                            "type": "integer"
                                                        },
                                                        "logprobs": {},
                                                        "text": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "text",
                                                        "index",
                                                        "finish_reason",
                                                        "logprobs"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "created": {
                                                "type": "integer"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "model": {
                                                "type": "string"
                                            },
                                            "object": {
                                                "type": "string"
                                            },
                                            "usage": {
                                                "properties": {
                                                    "completion_tokens": {
                                                        "type": "integer"
                                                    },
                                                    "prompt_tokens": {
                                                        "type": "integer"
                                                    },
                                                    "total_tokens": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            },
                            "Set_AzureOpenAIGptResponse": {
                                "runAfter": {
                                    "ParseAzureOpenAI": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "GptResponse",
                                    "value": "@split(trim(body('ParseAzureOpenAI')?['choices'][0]['text']), '!!')"
                                }
                            }
                        },
                        "runAfter": {
                            "Initialize_GptResponse": [
                                "Succeeded"
                            ]
                        },
                        "else": {
                            "actions": {
                                "For_each_OAI": {
                                    "foreach": "@variables('GptResponse')",
                                    "actions": {
                                        "Condition_OAIDepartment": {
                                            "actions": {
                                                "Set_OAIDepartment": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "Department",
                                                        "value": "@{trim(replace(items('For_each_OAI'), 'Department:', ' '))}"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "expression": {
                                                "or": [
                                                    {
                                                        "contains": [
                                                            "@items('For_each_OAI')",
                                                            "Department"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Condition_OAIOrder_Intent": {
                                            "actions": {
                                                "Set_OAIOrderIntent": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "OrderIntent",
                                                        "value": "@{trim(replace(items('For_each_OAI'), 'Order Intent:', ' '))}"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Condition_OAIDepartment": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "contains": [
                                                            "@items('For_each_OAI')",
                                                            "Order Intent"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Set_OpenAIGptResponse": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "OpenAIResponse": {
                                    "runAfter": {
                                        "For_each_OAI": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "body": {
                                            "department": "@{variables('Department')}",
                                            "orderIntent": "@{variables('OrderIntent')}",
                                            "source": "OpenAI"
                                        },
                                        "statusCode": 200
                                    }
                                },
                                "OpenAIRest": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "frequency_penalty": 0,
                                            "max_tokens": 60,
                                            "model": "text-davinci-003",
                                            "presence_penalty": 0,
                                            "prompt": "@{variables('Behavior')}@{triggerBody()?['prompt']}",
                                            "temperature": 0,
                                            "top_p": 1
                                        },
                                        "headers": {
                                            "Authorization": "Bearer @{variables('OpenAIKey')}",
                                            "Content-Type": "application/json"
                                        },
                                        "method": "POST",
                                        "uri": "https://api.openai.com/v1/completions"
                                    }
                                },
                                "ParseOpenAI": {
                                    "runAfter": {
                                        "OpenAIRest": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('OpenAIRest')",
                                        "schema": {
                                            "properties": {
                                                "choices": {
                                                    "items": {
                                                        "properties": {
                                                            "finish_reason": {
                                                                "type": "string"
                                                            },
                                                            "index": {
                                                                "type": "integer"
                                                            },
                                                            "logprobs": {},
                                                            "text": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "text",
                                                            "index",
                                                            "logprobs",
                                                            "finish_reason"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "created": {
                                                    "type": "integer"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "model": {
                                                    "type": "string"
                                                },
                                                "object": {
                                                    "type": "string"
                                                },
                                                "usage": {
                                                    "properties": {
                                                        "completion_tokens": {
                                                            "type": "integer"
                                                        },
                                                        "prompt_tokens": {
                                                            "type": "integer"
                                                        },
                                                        "total_tokens": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "Set_OpenAIGptResponse": {
                                    "runAfter": {
                                        "ParseOpenAI": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "GptResponse",
                                        "value": "@split(trim(body('ParseOpenAI')?['choices'][0]['text']), '!!')"
                                    }
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@toLower(triggerBody()?['type'])",
                                        "azure"
                                    ]
                                }
                            ]
                        },
                        "type": "If"
                    },
                    "Initialize_AzureOpenAIDeployment": {
                        "runAfter": {
                            "Initialize_AzureOpenAIKey": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [
                                {
                                    "name": "AzureOpenAIDeployment",
                                    "type": "string",
                                    "value": "Azure OpenAI Studio deployment name"
                                }
                            ]
                        }
                    },
                    "Initialize_AzureOpenAIKey": {
                        "runAfter": {
                            "Initialize_AzureOpenAIURL": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [
                                {
                                    "name": "AzureOpenAIKey",
                                    "type": "string",
                                    "value": "API Key found in Azure OpenAI Portal"
                                }
                            ]
                        }
                    },
                    "Initialize_AzureOpenAIURL": {
                        "runAfter": {},
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [
                                {
                                    "name": "AzureOpenAIURL",
                                    "type": "string",
                                    "value": "YourAzureOpenAIEndpoint.openai.azure.com"
                                }
                            ]
                        }
                    },
                    "Initialize_Behavior_": {
                        "runAfter": {
                            "Initialize_OpenAIKey": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [
                                {
                                    "name": "Behavior",
                                    "type": "string",
                                    "value": "This is an agent used to detect intent and provide a Department value for the following categories: “Books”, “Home”, “Fashion”, “Electronics”, “Grocery”, “Others”\n---\nSample Output will be in one line separated by !!\nDepartment: Electronics!!Order Intent: Defect\n\nDepartment: Grocery!!\n---\nText:"
                                }
                            ]
                        }
                    },
                    "Initialize_Department": {
                        "runAfter": {
                            "Initialize_Behavior_": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [
                                {
                                    "name": "Department",
                                    "type": "string"
                                }
                            ]
                        }
                    },
                    "Initialize_GptResponse": {
                        "runAfter": {
                            "Initialize_OrderIntent": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [
                                {
                                    "name": "GptResponse",
                                    "type": "array"
                                }
                            ]
                        }
                    },
                    "Initialize_OpenAIKey": {
                        "runAfter": {
                            "Initialize_AzureOpenAIDeployment": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [
                                {
                                    "name": "OpenAIKey",
                                    "type": "string",
                                    "value": "Your-OpenAI-API-Key"
                                }
                            ]
                        }
                    },
                    "Initialize_OrderIntent": {
                        "runAfter": {
                            "Initialize_Department": [
                                "Succeeded"
                            ]
                        },
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [
                                {
                                    "name": "OrderIntent",
                                    "type": "string"
                                }
                            ]
                        }
                    }
                },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}
